Makefile
Makefile.in
Makefile.in.in
dolt*
intltool*
*.schemas
.*
!.gitignore
*.gmo
*.la
*.lo
*.o
*.pc
libtool
compile
config.h.in
config.h
config.vapi
config.log
config.status
config.sub
config.guess
configmake.h
configmake.vapi
configure
depcomp
install-sh
ltmain.sh
missing
mkinstalldirs
POTFILES
autom4te.cache
INSTALL
aclocal.m4
stamp-h1
stamp-it
vala-ccode
*.[ch]
*.tar.bz2
*.tar.gz
